<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src="url(image/logo.png)" alt="Mysite画像" />
      <a>Porfolio</a>
      <a>Feature</a>
      <a>Profile</a>
      <a>Contact</a>
    </header>
    <nav>
      <ul class="nav-list"></ul>
    </nav>

    <div class="main-visual">
      <div class="main-visual-content">
        <p class="main-visual-text">
          Lolem lpsum<br />
          simply dummy text of the printing
        </p>
        <p class="main-visual-name">
          St. Augustine
        </p>
      </div>
    </div>

    <main>
      <div class="blog">
        <p>Portfolio</p>
      </div>
      <div class="blog2">
        <p>
          It is a long established fact that a reader will be distracted by the readable
          content of a page when looking at its layout.
          he point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
        </p>
      </div>
    </main>
    <%= yield %>

    <footer>
      <p class="footer-text">© 2017 WebCamp</p>
    </footer>
  </body>
</html>
